<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ios-padding">
    <ion-item lines="full" class="ion-padding-bottom">
      <ion-label position="floating">タスク</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-button expand="block">追加</ion-button>
  </form>
  <ion-list>
    <ion-item *ngFor="let t of tasks">
      <ion-label>{{t.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
